<div ng-controller='controlTest'>
	<md-card>
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Test de aprendizaje</span>
				<span class="md-subhead">
					Para terminar este test debes completar las siguientes 12 frases. Cada frase
					puede termianrse de 4 formas distintas. Ordena las 4 opciones de cada frase 
					según pienses que se ajustan a tu manera de aprender algo nuevo. Asegurate de
					llenar las 12 frases. <font color='red'>Este test es importante ya que así tendrás
					contenidos personalizados</font>.
				</span>
			</md-card-title-text>
		</md-card-title>
	</md-card>
</div>
