<style>
	textarea{
		resize:none;
	}
</style>
<form ng-submit="submit_uni_to()">
	<div class="row">
		<div class="col-md-12">
			<p>Estás a punto de crear un nuevo tópico en esta unidad
			escribe un nombre y descripción para éste.</p>
			<p>Si no querías hacer esto cierra el dialogo y escoge el 
			tópico al cual pertenecen estos contenidos.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<label>Topico</label>
		</div>
		<div class="col-md-8">
			<input class="form-control" type="text" ng-model="dialogo.topico">
		</div>
	</div>
	<!--espacio--><div class = "row"><div class="col-md-12"><p> </p></div></div>
	<div class="row">
		<div class="col-md-12">
			<textarea class="form-control" maxlength="140" ng-model="dialogo.d_topico"></textarea>
		</div>
	</div>
	<!--espacio--><div class = "row"><div class="col-md-12"><p> </p></div></div>
	<!--espacio--><div class = "row"><div class="col-md-12"><p> </p></div></div>
	<div class="row">
		<div class="col-md-12">
			<p>Al hacer click sobre 'Aceptar' subirás todos estos contenidos a la plataforma.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<button type="button" class="btn btn-default btn-block" ng-click="closeThisDialog('$escape')">Cancelar</button>
		</div>
		<div class="col-md-6">
			<button type="button" class="btn btn-primary btn-block" ng-click="closeThisDialog({topico:{titulo:dialogo.topico,descripcion:dialogo.d_topico}})">Aceptar</button>
		</div>
	</div>
</form>
