<div class="container">
	<div class="page-header">
		<div class="row">
			<div class="col-md-4">
				<h4><a href="/">120 COGNITIO - {{titulo}}</a></h4>
			</div>
			<div class="col-md-4 col-md-offset-4">
				<ul class="nav nav-pills">
					<li><a class="btn btn-default" data-toggle="pill" data-target="#nuevo_contenido" href="#">Nuevo contenido</a></li>
					<li><a class="btn btn-default" data-toggle="pill" data-target="#borradores" href="#">Borradores</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="well">
				<div class="tab-content">
					<div id="defect" class="tab-pane fade in active">
						<h3>Escoger una opción</h3>
						<p>Puede crear un contenido nuevo desde cero, o seguir trabajando
						sobre un borrador.</p>
					</div>
<!--[NUEVO CONTENIDO v]---------------------------------------------------------------------->
					<div id="nuevo_contenido" class="tab-pane fade">
						<form role="form" ng-submit="submit()">
                            <fieldset>
								<h4>Contenido destinado a</h4>
								<div class="row">
									<div class="col-md-5">
										Unidad
									</div>
									<div class="col-md-7">
										<select class="form-control" ng-model='contenido.unidad' ng-options='u.id as u.titulo for u in unidades' ng-change="actualizarTopicos()"></select>
									</div>
								</div>
								<div class="row">
									<div class="col-md-5">
										Tópico
									</div>
									<div class="col-md-7">
										<select class="form-control" ng-model='contenido.topico' ng-options='t.id as t.titulo for t in topicos'></select>
									</div>
								</div>
								<!--espacio--><div class = "row"><div class="col-md-12"><p> </p></div></div>
								<div class = "row" ng-repeat="c_i in cant_cont" ng-init='indexContenido = $index'>
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-body">
												<div class="row">
													<div class="col-md-5">
														Título
													</div>
													<div class="col-md-7">
														<input class="form-control" placeholder="Título" name="titulo" type="text" ng-model='contenido.titulo[indexContenido]'>
													</div>
												</div>
												<div class="row">
													<div class="col-md-5">
														Etiqueta
													</div>
													<div class="col-md-7">
														<select class="form-control" ng-model='contenido.etiqueta[indexContenido]' ng-options='e.id as e.nombre_etiqueta for e in etiquetas' ng-change="actualizarEtiqueta(indexContenido)"></select>
													</div>
												</div>
												<!--espacio--><div class = "row"><div class="col-md-12"><p> </p></div></div>
												<div class="row">
													<div class="col-md-12">
														<div class="alert alert-info">
															{{etiqueta_actual[indexContenido]}}
														</div>
													</div>
												</div>
												<!--espacio--><div class = "row"><div class="col-md-12"><p> </p></div></div>
												<div class="row">
													<div class="col-md-12">
														<div text-angular ng-model="htmlVariable"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--espacio--><div class = "row"><div class="col-md-12"><p> </p></div></div>
								<div class = "row">
									<div class="col-md-4">
										<button type="button" class="btn btn-warning btn-block" ng-click="addContenido()">Otro contenido</button>
									</div>
								</div>
								<!--espacio--><div class = "row"><div class="col-md-12"><p> </p></div></div>
								<div class = "row">
									<div class="col-md-4">
										<button type="button" class="btn btn-primary btn-block">Borrador</button>
									</div>
									<div class="col-md-4"></div>
									<div class="col-md-4">
										<button type="button" class="btn btn-success btn-block">Publicar</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
<!--[BORRADORES v]--------------------------------------------------------------------------->					
					<div id="borradores" class="tab-pane fade">
						<h3>Borradores</h3>
						<p>Some content in menu 1.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
