<div ng-controller="log">
	<h4>Ingresa a tu cuenta</h4>
	<h5>{{mensaje}} <br/> O registrate si aún no lo haz hecho.</h5>
	<form ng-submit="submit()">
		<div>
			<label for='c_1'>Correo</label>
			<input type='text' ng-model='user.correo' id='c_1'>
			<select ng-model='user.dominio'>
				<option ng-repeat="x in correos" value="{{x}}">
					{{x}}
				</option>
			</select>
		</div>
		<div>
			<label for='p_1'>Contraseña</label>
			<input type='password' ng-model='user.password' id='p_1'>
		</div>
		<div>
			<input type='submit' value='Ingresar'>
			<button ng-click='registro()'>Registrate</button>
		</div>
	</form>
</div>
