<div ng-controller="reg">
	<h4>Registra tu cuenta</h4>
	<h5>{{mensaje}}</h5>
    <form ng-submit="submit()" novalidate name="registro">
		<div>
			<label for='c_1'>Correo</label>
			<input type='text' name='correo' id='c_1' ng-model='user.correo' required>
		
			<select ng-model='user.dominio'>
				<option ng-repeat="x in correos" value="{{x}}">
					{{x}}
				</option>
			</select>
		</div>
		<div>
			<label for='r_1'>Rol</label>
			<input type='text' name='rol' id='r_1' ng-model='user.rol' required>
		</div>
		<div>
			<label for='c_2'>Contraseña</label>
			<input type='password' name='pass' id='c_2' ng-model='user.password' required>
		</div>
		<div>
			<input type='submit' value='Registrar'>
		</div>
		<div>
			<button ng-click='ingreso()'>Ingreso</button>
		</div>
    </form>
</div>
